html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: none;
  box-sizing: none; }

body {
  padding: 0;
  margin: 0; }

#mainContent {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #EEC6DA; }

div,
img {
  position: absolute; }

#bgContainer {
  width: 286px;
  height: 236px;
  bottom: 0;
  right: 0;
  overflow: hidden; }

#bg {
  left: -66px;
  width: 1000px;
  height: 250px;
  background: url("../img/bg.jpg") repeat-x; }

#gradient {
  top: -1px;
  left: -1px; }

#logo {
  top: 25px;
  left: 239px; }

#copyOne {
  top: 72px;
  left: 20px; }

#copyTwo {
  top: 125px;
  left: 124px; }

#cta {
  width: 100px;
  height: 23px;
  border: 1px solid #fff;
  top: 163px;
  left: 124px;
  border-radius: 12px;
  opacity: 0; }

#ctaCopy {
  top: 6px;
  left: 22px; }

.button {
  display: inline-block;
  padding: 1em;
  background-color: #79BD9A;
  text-decoration: none;
  color: white; }

#bgExit {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  cursor: pointer; }
